<IfModule mod_rewrite.c>
 RewriteEngine on

 RewriteCond %{REQUEST_METHOD} GET
 RewriteRule ^types/$                       get_types.php
 RewriteRule ^types$                        get_types.php
 RewriteRule ^types/([0-9]+)$               get_type.php?type_id=$1
 RewriteRule ^types/([0-9]+)/$              get_type.php?type_id=$1
 RewriteRule ^beacons/$                     get_beacons.php
 RewriteRule ^beacons$                      get_beacons.php
 RewriteRule ^beacons/([0-9]+)$             get_beacon.php?id=$1
 RewriteRule ^beacons/([0-9]+)/$            get_beacon.php?id=$1
 RewriteRule ^images/([0-9]+)$              get_images_by_apartment.php?id=$1
 RewriteRule ^images/([0-9]+)/$             get_images_by_apartment.php?id=$1
 RewriteRule ^images/$                      get_images.php
 RewriteRule ^images$                       get_images.php
 RewriteRule ^apartments$                   get_apartments.php
 RewriteRule ^apartments/$                  get_apartments.php
 RewriteRule ^apartments/type/([0-9]+)$     get_apartments_by_type.php?type_id=$1
 RewriteRule ^apartments/type/([0-9]+)$/    get_apartments_by_type.php?type_id=$1
 RewriteRule ^apartments/id/([0-9]+)$       get_apartment.php?id=$1
 RewriteRule ^apartments/id/([0-9]+)$/      get_apartment.php?id=$1

 RewriteCond %{REQUEST_METHOD} POST
 RewriteRule ^types/                        add_type.php
 RewriteRule ^types                         add_type.php
 RewriteRule ^apartments/                   add_apartment.php
 RewriteRule ^apartments                    add_apartment.php
 RewriteRule ^beacons/                      add_beacon.php
 RewriteRule ^beacons                       add_beacon.php
 RewriteRule ^images/                       add_image.php
 RewriteRule ^images                        add_image.php

</IfModule>